<a class="navigation-button" color="primary" mat-flat-button routerLink="/data">
  <mat-icon aria-hidden="false" aria-label="Back">arrow_back</mat-icon>
  Back to all data
</a>
<h2>Data</h2>
<div *ngIf="!data" class="centered">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="data">
  <div>
    <mat-form-field>
      <input disabled matInput placeholder="Name" value="{{data.name}}"/>
      <mat-icon matSuffix matTooltip="Name can't be modified" matTooltipPosition="right">lock</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input #updatedValue (keyup.enter)="updateValue(updatedValue.value)" [disabled]="!isEditValue" matInput placeholder="Value" value="{{data.value}}"/>
      <div *ngIf="!isUpdating" matSuffix>
        <button (click)="isEditValue = true" *ngIf="!isEditValue" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="updateValue(updatedValue.value)" *ngIf="isEditValue" mat-icon-button>
          <mat-icon>check</mat-icon>
        </button>
        <button (click)="isEditValue = false" *ngIf="isEditValue" mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <mat-progress-bar *ngIf="isUpdating" mode="buffer"></mat-progress-bar>
    </mat-form-field>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Danger zone
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button (click)="openDeleteDialog()" cdkFocusInitial color="warn" mat-stroked-button>Delete</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
