<h1>My data</h1>

<p>My data is a project with mission of return you a control to your personal data.</p>
<p>If you ever had a problem that you don't know who use your data, how to update or delete them from different places this is a place for you.</p>
<p>For example, your phone number, email or home address is used in huge amount of places. Do you remember all of them? ;)</p>

<i>My data is one of a <a href="https://www.webtree.org">Web Tree</a> project. For now My data is on early development stage. We can't give any guaranties.</i>
