<button (click)="back()" class="navigation-button" color="primary" mat-flat-button>
  <mat-icon aria-hidden="false" aria-label="Back">arrow_back</mat-icon>
  Back
</button>
<h2>Add data</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input formControlName="value" matInput placeholder="Value"/>
    </mat-form-field>
  </div>
  <button [disabled]="!form.valid" mat-raised-button type="submit">Add</button>
</form>
