table {
  width: 100%;
  text-align: left;
}

.mat-table .mat-button {
  width: calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: -webkit-calc(100% - 15px);
  text-align: left;
  margin-right: 15px;
}

.mat-table .mat-cel {
}

.data-cel {
  .data-visibility-toggle-show, .data-value-start {
    display: inherit;
  }

  .data-visibility-toggle-hide, .data-value {
    display: none;
  }
}

.data-cel.show-data {
  .data-visibility-toggle-show, .data-value-start {
    display: none;
  }

  .data-visibility-toggle-hide, .data-value {
    display: inherit;
  }
}
