<button (click)="p.open()" [disabled]="p.isOpen()" [satPopoverAnchor]="p" cdkFocusInitial class="open-button" color="warn" mat-mini-fab>
  <mat-icon>add</mat-icon>
</button>
<sat-popover #p>
  <mat-card>
    <button (click)="p.close()" cdkFocusInitial class="close-button" color="" mat-mini-fab style="position: absolute; top: 2px; left: 2px;">
      <mat-icon>close</mat-icon>
    </button>
    <h2>Add usage</h2>
    <form (ngSubmit)="onSubmit(p)" [formGroup]="form">
      <mat-form-field>
        <mat-label>Select usage type</mat-label>
        <mat-select [formControl]="type">
          <mat-option value="url">Url</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="this.type.value === 'url'">
        <mat-form-field>
          <input [formControl]="url" matInput placeholder="Where is it used?"/>
        </mat-form-field>
        <mat-error *ngIf="url.dirty && !url.valid">
          Please enter valid url.
          <mat-icon matTooltip="Url should start from https or http. For example, https://webtree.org">help</mat-icon>
        </mat-error>
      </div>
      <div [hidden]="type.value === ''">
        <button [disabled]="!form.valid || inProgress" mat-stroked-button type="submit">Add</button>
      </div>
    </form>
  </mat-card>
</sat-popover>
